$sh-sp-fork_x = 0px;
$sh-sp-fork_y = 0px;
$sh-sp-fork_offset_x = 0px;
$sh-sp-fork_offset_y = 0px;
$sh-sp-fork_width = 32px;
$sh-sp-fork_height = 32px;
$sh-sp-fork_total_width = 102px;
$sh-sp-fork_total_height = 102px;
$sh-sp-fork_image = '../../public/img/sprite/sample.png';
$sh-sp-fork = 0px 0px 0px 0px 32px 32px 102px 102px '../../public/img/sprite/sample.png';
$sh-sp-github_x = 35px;
$sh-sp-github_y = 35px;
$sh-sp-github_offset_x = -35px;
$sh-sp-github_offset_y = -35px;
$sh-sp-github_width = 32px;
$sh-sp-github_height = 32px;
$sh-sp-github_total_width = 102px;
$sh-sp-github_total_height = 102px;
$sh-sp-github_image = '../../public/img/sprite/sample.png';
$sh-sp-github = 35px 35px -35px -35px 32px 32px 102px 102px '../../public/img/sprite/sample.png';
$sh-sp-twitter_x = 70px;
$sh-sp-twitter_y = 70px;
$sh-sp-twitter_offset_x = -70px;
$sh-sp-twitter_offset_y = -70px;
$sh-sp-twitter_width = 32px;
$sh-sp-twitter_height = 32px;
$sh-sp-twitter_total_width = 102px;
$sh-sp-twitter_total_height = 102px;
$sh-sp-twitter_image = '../../public/img/sprite/sample.png';
$sh-sp-twitter = 70px 70px -70px -70px 32px 32px 102px 102px '../../public/img/sprite/sample.png';

